/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  height: 100vh;
  width: 100%;
  display: table;
  background-size: cover;
  transition: all 1s;

  .banner-content {
    text-align: center;
    transform: translateY(70%);
    transition: all 1s;
  }
  .banner p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}

.results-container {
  display: none;
}

.result-found {
  .banner {
    height: 250px;
  }
  .banner-content {
    transform: translateY(0%);
  }
  .results-container {
    display: block;
  }
}

