
<div class="container">
<div class="row text-center">
	<%= form_tag("/search/event", method: "get") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>
</div>
</div>

