<div class="container sports-container">
  <div class="row text-center">
    <h1>Sports</h1>
    <% @sports.each do |sport| %>
	    <div class="item">
          <%= link_to image_tag("#{sport.id}/logo.png"), sport_path(sport) %>
      	</div>
    <%end%>
  </div>
</div>



