<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/8983/pexels-photo.jpeg');">
  <div class="banner-content">
    <h1>Sportify</h1>
    <p>Le plus grand terrain de sport</p>
    <form>
    <div class="container">
    <div class="row">
      <div class="xs-10">
        <input class="form-control" type="text" value="Triathlon XS Paris Mai" id="example-text-input">
      </div>
      <p></p>
      <div class="xs-2">
        <button type="submit" class="btn btn-primary"> Chercher </button>
      </div>
    </div>
    </div>
    </form>
  </div>
</div>



