.sports-container {
    .row {
        text-align: center;
        .item {
            display: inline-block;
            padding: 20px;
            width: 300px;
            img {
                height: 250px;
                width: 250px;
            }
        }
    }
}